.sidebar{
	width:340px;
	background: #fff;
	padding: 20px;
	text-align: center;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
	position: fixed;
	left:0;
	top:0;
	bottom:0;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}